{{link-to 'Show User' 'user.show'}}

<form>
  <div class="form-group">
    <label for="userFullName">Full Name</label>
    {{input value=full_name id="userFullName" class='form-control'}}
  </div>
  <div class="form-group">
    <label for="userEmail">Email</label>
    {{input value=email id="userEmail" class='form-control'}}
  </div>
  <button {{action 'save'}} class="btn btn-default">Save</button>
</form>


