/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require ./bootstrap_and_overrides.css
 *= require jquery.ui.all
 *= #require formtastic-bootstrap
 *= require bootstrap-without-forms
 *= require formtastic-plus-bootstrap
 *= require formtastic-plus-bootstrap/responsive
 *= #require bootstrap-wysihtml5
 *= require jquery.fileupload-ui
 *= #require clear_cms/markitup
 *= require markitup/skins/simple/style
 *= require markitup/sets/html/style
 *= require_self
 *= require test #from lib/assets/stylesheets
 *= #require_tree .
*/


/*@import "compass/typography/lists/bullets"*/

.published {
  border-left: 4px solid #6fdf65;
}

.published.scheduled {
  border-left: 4px solid #fcfc46;
}


/* textcount styling for hints */
.tc-hint {
  display: block;
  padding-left: 125px;
  font-style: italic;
  font-size: 0.8em;
  color: #999;
}