.markItUp.fullScreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    margin: 0;
    background: #f0f0f0;
    }
  .markItUp.fullScreen .markItUpContainer{
    padding: 20px 40px 40px;
    }
  .markItUp li.fullScreen {
    background: transparent url($path/fullscreen.png) no-repeat;
    }
  .markItUp.fullScreen li.fullScreen {
    background: transparent url($path/normalscreen.png) no-repeat;
    }