<h3>CONTENT</h3>
{{#link-to 'content.show'}}Show Content{{/link-to}}

<form>
  <% ClearCMS::Content.fields.each do |key, value| %>
  <div class="form-group">
    <label for="content<%= key.upcase %>"><%= key.upcase %></label>
    {{input value=<%= key %> id="content<%= key.upcase %>" class='form-control'}}
  </div>
  <% end %>
  <button {{action 'save'}} class="btn btn-default">Save</button>
</form>

<hr>
<button {{action 'toggleDetails'}}>Toggle Details</button>

{{#if showDetails}}
 <div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="cblist">
  {{#each contentBlock in content_blocks}}
    <li role="presentation" class="active"><a {{bind-attr aria-controls="contentBlock.id"}} {{bind-attr data-target="contentBlock.id"}}  role="tab" data-toggle="tab">{{contentBlock.type}}</a></li>
  {{/each}}
  </ul>

  <div class="tab-content">
  {{#each contentBlock in content_blocks}}
    {{partial "content/_contentBlock"}}
  {{/each}}
 </div>
</div>
{{else}}
  <h1>Not Showing Details</h1>
{{/if}}
