<script id="template-linkedcontent-picker" type="text/x-tmpl">
<div id="modal-linkedcontent-picker" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title">Selected Linked Contents</h3>
  </div>
  <div class="modal-body">
    <ul class="thumbnails">
    {% for (var i=0; i<o.linkedcontents.length; i++) { %}
      <li class="span2" {% if (i%3 == 0) { %} style="clear: left; margin-left: 0" {% } %}>
        <label class="thumbnail">
          <input type="checkbox" name="linkedcontents[{%=o.linkedcontents[i].name%}]" value="{%=o.linkedcontents[i].name%}">
          <img src="{%=o.linkedcontents[i].thumbnail_url%}" alt=""> {%=o.linkedcontents[i].name%}
        </label>
      </li>
    {% } %}
    </ul>
  </div>
  <div class="modal-footer">
    <h5>Add New Linked Item</h5>
    <div class="lookupWrap well" id="linkedLookupWrap" data-lookup-url="/clear_cms/sites/<%=current_site.id%>/contents.json" data-lookup-filter-type="<%= @clear_cms_content.class.linked_content_filter[:types] %>" data-lookup-success-tmpl="template-linked-content-form">
        <input type="text" class="lookupField" placeholder="begin typing then select content title...">
      </div>

    <button class="btn btn-primary" href="#" data-dismiss="modal">Update</span></button>
  </div>
</div>
</script>
