<script id="template-editora" type="text/x-tmpl">
<div id="modal-editora" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title">Edit Asset Metadata</h3>
  </div>
  <div class="modal-body">
      <form class="">
        <img alt="Thumb_ed_v1_44_white_story_egg_cup_dishes.2" class="img-polaroid pull-left" data-orig-src="https://dvic4s0y3qk6b.cloudfront.net/theline/2014/07/14/ED_v1_44_WHITE_STORY_egg_cup_dishes.2.jpg" src="https://dvic4s0y3qk6b.cloudfront.net/theline/2014/07/14/thumb_ED_v1_44_WHITE_STORY_egg_cup_dishes.2.jpg" width="200">

        <div class="media-body">
      <fieldset class="inputs">
            <ol>
                  <li style="width: auto;" class="hidden input optional" id="content_content_blocks_attributes_0_content_assets_attributes_1_path_input">

<input style="width: 100%;" class="path" id="content_content_blocks_attributes_0_content_assets_attributes_1_path" name="content[content_blocks_attributes][0][content_assets_attributes][1][path]" type="hidden" value="theline/2014/07/11" /></li>
                  <li style="width: auto;" class="hidden input optional" id="content_content_blocks_attributes_0_content_assets_attributes_1_file_input">

<input style="width: 100%;" class="file" id="content_content_blocks_attributes_0_content_assets_attributes_1_file" name="content[content_blocks_attributes][0][content_assets_attributes][1][file]" type="hidden" value="AS_SMALL_v1_44_WHITE_STORY.jpg" /></li>

                  <li style="width: auto;" class="string input optional stringish" id="content_content_blocks_attributes_0_content_assets_attributes_1_title_input">

<label class=" label" for="content_content_blocks_attributes_0_content_assets_attributes_1_title">Title</label><input style="width: 100%;" id="content_content_blocks_attributes_0_content_assets_attributes_1_title" name="content[content_blocks_attributes][0][content_assets_attributes][1][title]" type="text" value="AS_SMALL_v1_44_WHITE_STORY.jpg" /></li>
                  <li style="width: auto;" class="text input optional" id="content_content_blocks_attributes_0_content_assets_attributes_1_description_input">

<label class=" label" for="content_content_blocks_attributes_0_content_assets_attributes_1_description">Description</label><textarea id="content_content_blocks_attributes_0_content_assets_attributes_1_description" name="content[content_blocks_attributes][0][content_assets_attributes][1][description]" rows="1">
</textarea></li>
                  <li style="width: auto;" class="string input optional stringish" id="content_content_blocks_attributes_0_content_assets_attributes_1_credit_input">

<label class=" label" for="content_content_blocks_attributes_0_content_assets_attributes_1_credit">Credit</label><input style="width: 100%;" id="content_content_blocks_attributes_0_content_assets_attributes_1_credit" name="content[content_blocks_attributes][0][content_assets_attributes][1][credit]" type="text" value="" /></li>

                  <li style="width: auto;" class="string input optional stringish" id="content_content_blocks_attributes_0_content_assets_attributes_1_tags_input">

<label class=" label" for="content_content_blocks_attributes_0_content_assets_attributes_1_tags">Tags</label><input style="width: 100%;" id="content_content_blocks_attributes_0_content_assets_attributes_1_tags" name="content[content_blocks_attributes][0][content_assets_attributes][1][tags]" type="text" value="[]" /></li>
</fieldset>
</ol>
                  </div>


        </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" href="#" data-dismiss="modal">Update</span></button>
  </div>
</div>
</script>

<script id="template-editorb" type="text/x-tmpl">
<div id="modal-editorb" class="modal modal-lg hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title">Edit Asset Metadata</h3>
  </div>
  <div class="modal-body">
      <form class="">
        <div class="media-body span3">
        <fieldset class="inputs">
            <ol>
                  <li style="width: auto;" class="hidden input optional" id="content_content_blocks_attributes_0_content_assets_attributes_1_path_input">

<input style="width: 100%;" class="path" id="content_content_blocks_attributes_0_content_assets_attributes_1_path" name="content[content_blocks_attributes][0][content_assets_attributes][1][path]" type="hidden" value="theline/2014/07/11" /></li>
                  <li style="width: auto;" class="hidden input optional" id="content_content_blocks_attributes_0_content_assets_attributes_1_file_input">

<input style="width: 100%;" class="file" id="content_content_blocks_attributes_0_content_assets_attributes_1_file" name="content[content_blocks_attributes][0][content_assets_attributes][1][file]" type="hidden" value="AS_SMALL_v1_44_WHITE_STORY.jpg" /></li>

                  <li style="width: auto;" class="string input optional stringish" id="content_content_blocks_attributes_0_content_assets_attributes_1_title_input">

<label class=" label" for="content_content_blocks_attributes_0_content_assets_attributes_1_title">Title</label><input style="width: 100%;" id="content_content_blocks_attributes_0_content_assets_attributes_1_title" name="content[content_blocks_attributes][0][content_assets_attributes][1][title]" type="text" value="AS_SMALL_v1_44_WHITE_STORY.jpg" /></li>
                  <li style="width: auto;" class="text input optional" id="content_content_blocks_attributes_0_content_assets_attributes_1_description_input">

<label class=" label" for="content_content_blocks_attributes_0_content_assets_attributes_1_description">Description</label><textarea id="content_content_blocks_attributes_0_content_assets_attributes_1_description" name="content[content_blocks_attributes][0][content_assets_attributes][1][description]" rows="1">
</textarea></li>
                  <li style="width: auto;" class="string input optional stringish" id="content_content_blocks_attributes_0_content_assets_attributes_1_credit_input">

<label class=" label" for="content_content_blocks_attributes_0_content_assets_attributes_1_credit">Credit</label><input style="width: 100%;" id="content_content_blocks_attributes_0_content_assets_attributes_1_credit" name="content[content_blocks_attributes][0][content_assets_attributes][1][credit]" type="text" value="" /></li>
                  <li style="width: auto;" class="string input optional stringish" id="content_content_blocks_attributes_0_content_assets_attributes_1_tags_input">

<label class=" label" for="content_content_blocks_attributes_0_content_assets_attributes_1_tags">Tags</label><input style="width: 100%;" id="content_content_blocks_attributes_0_content_assets_attributes_1_tags" name="content[content_blocks_attributes][0][content_assets_attributes][1][tags]" type="text" value="[]" /></li>
            </ol>
          </fieldset>
          </div>

          <div class="span3">
              <div class="well" style="overflow: auto; height: 300px;">
              <ul class="thumbnails">
                {% for (var i=0; i<o.linkedcontents.length; i++) { %}
                  <li class="span2" {% if (i%3 == 0) { %} style="clear: left; margin-left: 0" {% } %}>
                    <label class="thumbnail">
                      <input type="checkbox" name="linkedcontents[{%=o.linkedcontents[i].name%}]" value="{%=o.linkedcontents[i].name%}">
                      <img src="{%=o.linkedcontents[i].thumbnail_url%}" alt=""> {%=o.linkedcontents[i].name%}
                    </label>
                  </li>
                {% } %}
              </ul>
              </div>
          </div>
        </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" href="#" data-dismiss="modal">Update</span></button>
  </div>
</div>
</script>
