<% content_for :title do %>
  Edit Content
<% end %>

<script>
  window.raw_cms_content=<%= raw @clear_cms_content.to_json %>;
</script>
<!-- <%= link_to 'Back', clear_cms.site_contents_path(@clear_cms_content.site) %> -->

  <script type="text/x-handlebars" data-template-name="contents">

    <section>
      {{title}}
    </section>

    <footer id="info">
      <p>Double-click to edit a todo</p>
    </footer>

  </script>


<%# RubyProf.start %>
<%= render 'form' %>
<%# result=RubyProf.stop %>
<%# printer = RubyProf::GraphPrinter.new(result) %>
<%# printer.print(STDOUT, :min_percent => 2) %>

<!--
<%#= link_to 'Show', @clear_cms_content %> |
<%= link_to 'Back', clear_cms.site_contents_path(@clear_cms_content.site) %>
-->