<div>
Ember HTML Page

<div id="ember-container" class="well">

</div>

<script type="text/x-handlebars">
{{#link-to 'index'}}HOME{{/link-to}} | 
{{#link-to 'content.show' 2}}Show Content 2{{/link-to}}
  <h1>Ember Application Wrapper</h1>
  <div>
    {{outlet}}
  </div>
</script>

</div>