<h3>{{contentBlock.type}}</h3>
{{textarea value=contentBlock.body cols="80" rows="6"}}

<h4>Uploaded Images</h4>
<hr>

{{#each content_asset in contentBlock.content_assets}}
  {{partial "_contentAsset"}}
{{/each}}
