<div>
Ember application.hbs template

{{#link-to 'index'}}HOME{{/link-to}} | {{link-to 'Sites' 'sites.index'}} | {{link-to 'Users' 'users.index'}} | {{link-to 'Contents' 'contents.index'}}
  <h1>Ember Application Wrapper</h1>
  <div>
    {{outlet}}
  </div>
</script>

</div>
