<h3>CONTENT WRAPPER</h3>
{{link-to 'Support Page' 'support'}} | 
{{link-to 'Raw Content' 'content.raw'}}  |
{{#link-to 'content.show' 2}}Show Content 2{{/link-to}}  |
{{link-to 'Edit Content 1' 'content.edit' 1}}

{{outlet}}