<p id="notice"><%= notice %></p>


<%= link_to 'Edit', clear_cms.edit_site_path(@clear_cms_site) %> |
<%= link_to 'Destroy', clear_cms.destroy_site_path(@clear_cms_site), :confirm=>"Are you sure?" %> |
<%= link_to 'Back', clear_cms.sites_path %>
