<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_clear_cms_site_path(@clear_cms_site) %> |
<%= link_to 'Destroy', destroy_clear_cms_site_path(@clear_cms_site), :confirm=>"Are you sure?" %> |
<%= link_to 'Back', clear_cms_sites_path %>
